 body {
    background-color: #eaf2e3;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} 
header { text-align: center;
    background-color: #4fc651 }
/* Estilos para el nav y enlaces de ul y li */
nav {
    background-color: #4caf50;
    padding: 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: #2f8247;
}

/* Estilos para las imágenes */
img {
    display: inline-block; /* Para colocar las imágenes en línea */
    max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
    border: 3px solid #69bd45; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
    border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
    margin-right: 10px; /* Margen derecho para separar las imágenes */
}
.empresa-logo {
    margin-top: 20px; /* Espacio superior para el logo de la empresa */
    max-width: 200px; /* Ancho máximo del logo */
}

footer {
    background-color: #4caf50; /* Color de fondo del footer */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-2 {
    max-width: 800px; /* Ancho máximo del contenido del footer */
    margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
    text-align: center;
}

/* Estilos para las imágenes */
.social-links {
    text-align:center; /* Centrar las imágenes horizontalmente */
}
.social-links img {
    display: inline-block; /* Para colocar las imágenes en línea */
    max-width: 50px; /* Ajustar el ancho máximo de las imágenes */
    margin: 0 10px; /* Agregar espacio entre las imágenes */
}
section{text-align: center;}
.parrafo-div{text-align:left;}